# Python
__pycache__/
*.pyc
.venv/
venv/

# Downloaded raw documents
data/raw/*
!data/raw/.gitkeep

# Don't want API key leaked
.env

embeddings/

# Optional later if processed/final get large:
# data/processed/*
# !data/processed/.gitkeep
# data/final/*
# !data/final/.gitkeep
